<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!--           MyDataServlet                     -->
    <servlet>
        <servlet-name>MyDataServlet</servlet-name>
        <servlet-class>javacodes.services.servlet.MyDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>javacodes.services.DeleteEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeFormServlet</servlet-name>
        <servlet-class>javacodes.services.servlet.EmployeeFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployeeServlet</servlet-name>
        <servlet-class>javacodes.services.servlet.UpdateEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DivisionMasterServlet</servlet-name>
        <servlet-class>javacodes.reports.DivisionMasterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DivisionFormServlet</servlet-name>
        <servlet-class>javacodes.services.servlet.DivisionFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SectionFormServlet</servlet-name>
        <servlet-class>javacodes.services.servlet.SectionFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HolidayFormServlet</servlet-name>
        <servlet-class>javacodes.services.servlet.HolidayFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LConfigFormServlet</servlet-name>
        <servlet-class>javacodes.services.servlet.LConfigFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryFormServlet</servlet-name>
        <servlet-class>javacodes.services.servlet.CategoryFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkLocationFormServlet</servlet-name>
        <servlet-class>javacodes.services.servlet.WorkLocationFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShiftMasterFormServlet</servlet-name>
        <servlet-class>javacodes.services.servlet.ShiftMasterFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SPatternFormServlet</servlet-name>
        <servlet-class>javacodes.services.servlet.SPatternFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRFormServlet</servlet-name>
        <servlet-class>javacodes.services.servlet.SRFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RSFormServlet</servlet-name>
        <servlet-class>javacodes.reader.RSFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RSCommServlet</servlet-name>
        <servlet-class>javacodes.reader.RSCommServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReaderMasterFormServlet</servlet-name>
        <servlet-class>javacodes.reader.ReaderMasterFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpDataSyncServlet</servlet-name>
        <servlet-class>javacodes.reader.EmpDataSyncServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SwipeServerServlet</servlet-name>
        <servlet-class>SwipeCollection.SwipeServerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpEntryServlet</servlet-name>
        <servlet-class>javacodes.reports.EmpEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>javacodes.ChangePassword.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReaderAccessServlet</servlet-name>
        <servlet-class>javacodes.reader.ReaderAccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAccess</servlet-name>
        <servlet-class>javacodes.user.UserAccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAccessServlet</servlet-name>
        <servlet-class>javacodes.user.UserAccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OutDoorFormServlet</servlet-name>
        <servlet-class>javacodes.Applications.OutDoorFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoffFormServlet</servlet-name>
        <servlet-class>javacodes.Applications.CoffFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExceptionEntryServlet</servlet-name>
        <servlet-class>javacodes.Applications.ExceptionEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>commonservlet</servlet-name>
        <servlet-class>javacodes.Applications.commonservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CEPAppServlet</servlet-name>
        <servlet-class>javacodes.Applications.CEPAppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveApplicationServlet</servlet-name>
        <servlet-class>javacodes.Applications.LeaveApplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitorServlet</servlet-name>
        <servlet-class>javacodes.visitor.servlet.VisitorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CLVisitorServlet</servlet-name>
        <servlet-class>javacodes.visitor.servlet.CLVisitorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ODVisitorServlet</servlet-name>
        <servlet-class>javacodes.visitor.servlet.ODVisitorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>COFFVisitorServlet</servlet-name>
        <servlet-class>javacodes.visitor.servlet.COFFVisitorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BalVisitorServlet</servlet-name>
        <servlet-class>javacodes.visitor.servlet.BalVisitorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceVisitorServlet</servlet-name>
        <servlet-class>javacodes.visitor.servlet.AttendanceVisitorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtherLeaveServlet</servlet-name>
        <servlet-class>javacodes.visitor.servlet.OtherLeaveServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Servlet for CEP Application</description>
        <servlet-name>VisAppServlet</servlet-name>
        <servlet-class>javacodes.vis_app.VisAppServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Receive VisitorForm Object from Client</description>
        <servlet-name>VisAppObjectServlet</servlet-name>
        <servlet-class>javacodes.vis_app.VisAppObjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DigSignFormListServlet</servlet-name>
        <servlet-class>javacodes.DigSignFormListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyDataServlet</servlet-name>
        <url-pattern>/MyDataServlet</url-pattern>
    </servlet-mapping>
    <!--           LoginServlet                     -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>javacodes.login.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <!--           MusterServlet                     -->
    <servlet>
        <servlet-name>MusterServlet</servlet-name>
        <servlet-class>javacodes.reports.MusterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MusterServlet</servlet-name>
        <url-pattern>/MusterServlet</url-pattern>
    </servlet-mapping>
    <!--           AddEmployee Servlet              -->
    <servlet>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <servlet-class>javacodes.services.servlet.AddEmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <url-pattern>/AddEmployeeServlet</url-pattern>
    </servlet-mapping>
    <!--           UserMasterServlet                     -->
    <servlet>
        <servlet-name>UserMasterServlet</servlet-name>
        <servlet-class>javacodes.reports.UserMasterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserMasterServlet</servlet-name>
        <url-pattern>/UserMasterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeFormServlet</servlet-name>
        <url-pattern>/EmployeeFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployeeServlet</servlet-name>
        <url-pattern>/UpdateEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DivisionMasterServlet</servlet-name>
        <url-pattern>/DivisionMasterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DivisionFormServlet</servlet-name>
        <url-pattern>/DivisionFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SectionFormServlet</servlet-name>
        <url-pattern>/SectionFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HolidayFormServlet</servlet-name>
        <url-pattern>/HolidayFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LConfigFormServlet</servlet-name>
        <url-pattern>/LConfigFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryFormServlet</servlet-name>
        <url-pattern>/CategoryFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkLocationFormServlet</servlet-name>
        <url-pattern>/WorkLocationFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShiftMasterFormServlet</servlet-name>
        <url-pattern>/ShiftMasterFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SPatternFormServlet</servlet-name>
        <url-pattern>/SPatternFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRFormServlet</servlet-name>
        <url-pattern>/SRFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RSFormServlet</servlet-name>
        <url-pattern>/RSFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RSCommServlet</servlet-name>
        <url-pattern>/RSCommServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AttendanceFormServlet</servlet-name>
        <servlet-class>javacodes.reports.AttendanceFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttendanceFormServlet</servlet-name>
        <url-pattern>/AttendanceFormServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EarlyLateFormSevlet</servlet-name>
        <servlet-class>javacodes.reports.EarlyLateFormSevlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EarlyLateFormSevlet</servlet-name>
        <url-pattern>/EarlyLateFormSevlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReportFormServlet</servlet-name>
        <servlet-class>javacodes.reports.ReportFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportFormServlet</servlet-name>
        <url-pattern>/ReportFormServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SingleSwipeFormServlet</servlet-name>
        <servlet-class>javacodes.reports.SingleSwipeFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SingleSwipeFormServlet</servlet-name>
        <url-pattern>/SingleSwipeFormServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BriefReportFormServlet</servlet-name>
        <servlet-class>javacodes.reports.BriefReportFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BriefReportFormServlet</servlet-name>
        <url-pattern>/BriefReportFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReaderMasterFormServlet</servlet-name>
        <url-pattern>/ReaderMasterFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpDataSyncServlet</servlet-name>
        <url-pattern>/EmpDataSyncServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SwipeServerServlet</servlet-name>
        <url-pattern>/SwipeServerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpEntryServlet</servlet-name>
        <url-pattern>/EmpEntryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReaderAccessServlet</servlet-name>
        <url-pattern>/ReaderAccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAccess</servlet-name>
        <url-pattern>/UserAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAccessServlet</servlet-name>
        <url-pattern>/UserAccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OutDoorFormServlet</servlet-name>
        <url-pattern>/OutDoorFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoffFormServlet</servlet-name>
        <url-pattern>/CoffFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExceptionEntryServlet</servlet-name>
        <url-pattern>/ExceptionEntryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>commonservlet</servlet-name>
        <url-pattern>/commonservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CEPAppServlet</servlet-name>
        <url-pattern>/CEPAppServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveApplicationServlet</servlet-name>
        <url-pattern>/LeaveApplicationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitorServlet</servlet-name>
        <url-pattern>/VisitorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CLVisitorServlet</servlet-name>
        <url-pattern>/CLVisitorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ODVisitorServlet</servlet-name>
        <url-pattern>/ODVisitorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>COFFVisitorServlet</servlet-name>
        <url-pattern>/COFFVisitorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BalVisitorServlet</servlet-name>
        <url-pattern>/BalVisitorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceVisitorServlet</servlet-name>
        <url-pattern>/AttendanceVisitorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtherLeaveServlet</servlet-name>
        <url-pattern>/OtherLeaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisAppServlet</servlet-name>
        <url-pattern>/VisAppServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisAppObjectServlet</servlet-name>
        <url-pattern>/VisAppObjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DigSignFormListServlet</servlet-name>
        <url-pattern>/DigSignFormListServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>MyAppListener</listener-class>
    </listener>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
